load packages

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt

load data

In [39]:
file_path = '../data/StockAnalysisDataset.csv'
data = pd.read_csv(file_path, parse_dates=['date'], index_col='date')
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3020 entries, 2015-01-02 to 2017-12-29
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    3020 non-null   float64
 1   high    3020 non-null   float64
 2   low     3020 non-null   float64
 3   close   3020 non-null   float64
 4   volume  3020 non-null   int64
 5   Name    3020 non-null   object
dtypes: float64(4), int64(1), object(1)
memory usage: 165.2+ KB

              open    high      low   close    volume  Name
date
2015-01-02  111.39  111.44  107.350  109.33  53204626  AAPL
2015-01-05  108.29  108.65  105.410  106.25  64285491  AAPL
2015-01-06  106.54  107.43  104.630  106.26  65797116  AAPL
2015-01-07  107.20  108.20  106.695  107.75  40105934  AAPL
2015-01-08  109.23  112.15  108.700  111.89  59364547  AAPL

## Isolate Data by Tickers

In [33]:
# create a function to filter out solely based on ticker name

def isolate_ticker(data: pd.Series, ticker: str):
    valid_tickers = ['AAPL', 'AMZN', 'MSFT', 'GOOG', 'TSLA']
    if ticker not in valid_tickers:
        print(f"Please input valid ticker")
        return None
    filtered_data = data[data["Name"]== ticker]
    return filtered_data

## 1. Daily Returns

In [37]:
# TODO: Implement the logic for calculating returns.
def calculate_returns(data: pd.Series, ticker: str):    
    filtered = isolate_ticker(data, ticker)
    if filtered is None or filtered.empty:
        print(f"No data available for {ticker}")
        return None
    
    filtered = filtered.copy() 
    filtered['daily_return'] = ((filtered['close'] - filtered['open']) / filtered['open']) * 100
    print(f" \n--- DataFrame for {ticker} with new 'daily_return' column ---")
    print(filtered.head())

calculate_returns(data, "AMZN")

--- DataFrame for AMZN with new 'daily_return' column ---
              open    high       low   close   volume  Name  daily_return
date
2015-01-02  312.58  314.75  306.9601  308.52  2788101  AMZN     -1.298867
2015-01-05  307.01  308.38  300.8500  302.19  2774231  AMZN     -1.569981
2015-01-06  302.24  303.00  292.3800  295.29  3519034  AMZN     -2.299497
2015-01-07  297.50  301.28  295.3300  298.42  2640349  AMZN      0.309244
2015-01-08  300.32  303.14  296.1100  300.46  3088398  AMZN      0.046617

## 2. Simple Moving Average (SMA)

In [42]:
def calculate_sma(data: pd.Series, window:int, ticker: str): 
    filtered = isolate_ticker(data, ticker)
    if filtered is None or filtered.empty:
        print(f"No data available for {ticker}")
        return None
    
    filtered = filtered.copy()
    SMA = pd.DataFrame()
    SMA['Close_Price'] = filtered['close'].rolling(window = window).mean().round(2) 
    return SMA
calculate_sma(data, 30, "AMZN")

            Close_Price
date
2015-01-02          NaN
2015-01-05          NaN
2015-01-06          NaN
2015-01-07          NaN
2015-01-08          NaN
...                 ...
2017-12-22      1159.43
2017-12-26      1161.14
2017-12-27      1162.91
2017-12-28      1164.55
2017-12-29      1165.98

[755 rows x 1 columns]

## 3. Relative Strength Index (RSI)

## 4. Upward and Downward Runs